body {
  font-family: Arial, Helvetica, sans-serif;
}

section {
  height: 100vh;
}

hr {
  color: #252323;
}

.container-fluid {
  padding: 0;
}

.header {
  background: #efe7df;
  height: 100%;
  width: 25%;
  position: fixed;
  z-index: 1;
  box-shadow: .4rem 0 .3rem #252323;
}

.header-content {
  padding: 1rem;
}

.content {
  background: #d3bfa7;
  width: 75%;
  margin-left: 25%;
  padding: 1rem;
}

.nav-bar a {
  text-decoration: none;
  margin: auto;
}

.card {
  background: #efe7df;
}

.card-img {
  max-height: 158px;
  height: 100%;
}

.fa {
  filter: grayscale(100%);
}

.page-nav {
  color: #5a5857;
}

.title {
  color: #604450;
}

.btn-outline-secondary {
  background: #efe7df;
  color: #8c8a88;
}

.text-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
  }

#nav-list {
  list-style-type: none;
}

#nav-list a li {
  padding: .3rem;
}

#main h3 {
  font-style: italic;
}

.btn-outline-secondary:hover {
  background: #8c8a88;
}

.page-nav:hover {
  font-style: italic;
  text-decoration: none;
  color: #604450;
}

